DB_HOST=localhost
DB_USER=nr
DB_PASSWORD=your_password
DB_NAME=sp_games
PORT=8081
JWT_SECRET=Assignment2key
COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_Nn98cdkS9
COGNITO_CLIENT_ID=78ub41p21tn42ahgeo4frrhc42
COGNITO_ADMIN_GROUP=Admin
S3_BUCKET=cryptix-sp-games
S3_REGION=us-east-1
# EC2 instance IAM role needs s3:PutObject and s3:GetObject on this bucket
