COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_Nn98cdkS9
COGNITO_CLIENT_ID=78ub41p21tn42ahgeo4frrhc42
COGNITO_DOMAIN=https://us-east-1nn98cdks9.auth.us-east-1.amazoncognito.com
COGNITO_REDIRECT_PATH=/cognito-callback.html
COGNITO_POST_LOGIN_PATH=/newHome.html
COGNITO_POST_LOGOUT_PATH=/newHome.html
COGNITO_SCOPES=openid email profile
